@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('../typefaces/PT_Mono_Local/stylesheet.css');

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
    font-family: 'PT Mono', monospace;
    color: #FFFFFF;
    background-color: #231f20;
}

header {
    margin-bottom: 10rem;
}

main {
    margin: 5rem;
}

article {
    margin: 2.5rem;
}

section {
    margin: 5rem 2.5rem 2.5rem 2.5rem;
}

iframe {
    border: none;
    overflow:hidden; 
    position: absolute; 
    display: flex;
    min-height: 25px;
    width: 85%;
    height: 26rem;
    border-left: 1px white solid;
}

.contact-section {
    height: 40rem;
}

.contact-section > h2:last-child {
    margin-top: 28rem;
}

h1 {
    /* Se que en el ejercicio pone con em. Sin embargo creo que rem tiene más sentido y está mejor enfocado a un entorno responsivo */
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h2 a {
    text-decoration: none;
} 

h3 {
    font-size: 1.5rem;
}

p {
    text-indent: 5%;
    line-height: 1.5rem;
}
/* 
.visiting article a:visited {
    color: #66d1ff;
}

.visiting article a:link {
    color: white;
} */

a {
    color: white;
}

/* a:link {
    color: inherit;
} */

a :link{ /*No visitado por el usuario*/
    color: green;
  }


 a:focus {
    color: #008dca;
    font-size: 1.25em;
}

a:hover {
    color: #008dca;
}

.main-menu {
    position: fixed;
    background-color: #231f20;
    top: 0;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    z-index: 1;
    box-shadow: 0 0.1rem 0.6rem black;
    border-radius: 5rem;
}

.logo-base {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* transition: all 0.5s linear; */
}

.main-menu .menu-options {
    display: none;
}

.main-menu .logo-base:hover .menu-options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}



.main-menu :first-child > a > img {
    align-self: flex-start;
}

.main-menu div > a {
    margin: 0.5rem 1rem;
    transition: font-size 0.25s ease-in-out;
}

.main-menu img {
    width: 10rem;
}

.main-menu a {
    font-size: 1.5rem;
    text-decoration: none;
}


.main-menu a:visited.active {
    color: #008dca;
    font-size: 1.7rem;
}

.main-menu .menu-options > a:hover {
    color: #008dca;
    font-size: 1.7rem;
}


@media (max-width: 720px) {

}

footer {
    background: linear-gradient(180deg, #231f20 0%, #008dca 150%);
}

footer > img {
    width: 10rem;
}

.active {
    color: #008dca;
    font-size: 1.7rem;
}

footer a {
    text-decoration: none;
}

aside div.list ul {
    margin: 50px;
    list-style-type: binary;
}

table {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;
}

tr:first-child {
    background-color: #008dca;
}

td:nth-child(odd) {
    background-color:dimgrey;
}

.whats-icon {
    position: fixed;
    top: 85%;
    right: 2.5%;
    background-color: aliceblue;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
}

.fab, .fa-whatsapp {
    font-size: 4rem;
    color: #008dca;
    margin-top: 0.5rem;
   
}

figure > img {
    width: 100%;
    margin: 2.5rem 2.5rem 2.5rem 0rem;
}

div.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1024px) {
    div.articles {
        display: block;
    }
}

.video-container {
    height: 30rem;
    width: 100%;
    top: 0;
    left: 0;
}


.video-container h1 {
    color:#008dca;
}

.video-container div {
    padding: 5rem;
    text-align: center;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}


/* TODO: poner la imagen en los archivos pdf y anadir un link a uno en BLOG_1 */
a[href$=".pdf"] {

}

img[alt=""] {
    border: red 2px solid;
}