@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('../typefaces/PT_Mono_Local/stylesheet.css');

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
    font-family: 'PT Mono', monospace;
    color: #FFFFFF;
    background-color: #231f20;
}

header {
    margin: 10rem 5rem 0rem 2.5rem;
}

main {
    margin: 5rem;
}

article {
    margin: 2.5rem;
}

section {
    margin: 2.5rem;
}

iframe {
    border: none;
    overflow:hidden; 
    position: absolute; 
    display: flex;
    min-height: 25px;
}

h1 {
    /* Se que en el ejercicio pone con em. Sin embargo creo que rem tiene más sentido y está mejor enfocado a un entorno responsivo */
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h2 a {
    text-decoration: none;
} 

h3 {
    font-size: 1.5rem;
}

p {
    text-indent: 5%;
    line-height: 1.5rem;
}

.visiting article a:visited {
    color: #66d1ff;
}

.visiting article a:link {
    color: white;
}

a {
    color: white;
}

a:link {
    color: inherit;
}

 a:focus {
    color: #008dca;
    font-size: 1.25em;
}

a:hover {
    color: #008dca;
}

.mainMenu {
    position: fixed;
    background-color: #231f20;
    width: 100%;
    top: 0;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.mainMenu :first-child > a > img {
    align-self: flex-start;
}

.mainMenu div > a {
    margin: 0.5rem 1rem;
}

.mainMenu img {
    width: 10rem;
}

.mainMenu a {
    font-size: 1.5rem;
    text-decoration: none;
}


.mainMenu a:visited.active {
    color: #008dca;
    font-size: 1.7rem;
}

.mainMenu a:hover {
    color: #008dca;
    font-size: 1.7rem;
}

.active {
    color: #008dca;
    font-size: 1.7rem;
}


footer a {
    text-decoration: none;
}

aside div.list ul {
    margin: 50px;
    list-style-type: binary;
}

table {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;
}

tr:first-child {
    background-color: #008dca;
}

td:nth-child(odd) {
    background-color:dimgrey;
}

.whats-icon {
    position: fixed;
    top: 85%;
    right: 2.5%;
    background-color: aliceblue;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
}

.fab, .fa-whatsapp {
    font-size: 4rem;
    color: #008dca;
    margin-top: 0.5rem;
   
}

figure > img {
    width: 100%;
    margin: 2.5rem 2.5rem 2.5rem 0rem;
}